.heroBanner .row {
  display: flex;
}

.heroBanner {
  text-align: center;
  position: relative;
  overflow: hidden;
  background: transparent !important;
}

.heroText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--ifm-color-secondary-lightest);
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerWrapper {
  background-image: linear-gradient(
      0deg,
      color-mix(in srgb, var(--ifm-color-black) 30%, transparent 50%) 30%,
      color-mix(in srgb, var(--ifm-color-black) 90%, transparent 80%) 50%
    ),
    url("/img/hero_image.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: var(--ifm-navbar-height);
  margin-top: calc(-1 * var(--ifm-navbar-height));
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
