:root {
  --ifm-color-primary: #0077a6;
  --ifm-color-primary-dark: #006b95;
  --ifm-color-primary-darker: #00658d;
  --ifm-color-primary-darkest: #005374;
  --ifm-color-primary-light: #007eb0;
  --ifm-color-primary-lighter: #008ac1;
  --ifm-color-primary-lightest: #008fc7;

  --ifm-color-primary-alpha-10: color-mix(
    in srgb,
    var(--ifm-color-primary) 10%,
    transparent
  );
  --ifm-color-primary-alpha-30: color-mix(
    in srgb,
    var(--ifm-color-primary) 30%,
    transparent
  );
  --ifm-color-primary-alpha-50: color-mix(
    in srgb,
    var(--ifm-color-primary) 50%,
    transparent
  );
  --ifm-navbar-background-color-alpha-10: color-mix(
    in srgb,
    var(--ifm-navbar-background-color) 50%,
    transparent
  );

  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);

  --ifm-font-family-base: "Open Sans", -apple-system, "Roboto", sans-serif;
  /* Font weights available in Open Sans */
  --ifm-font-weight-light: 300;
  --ifm-font-weight-normal: 400;
  --ifm-font-weight-semibold: 500;
  --ifm-font-weight-bold: 600;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #3dcff7;
  --ifm-color-primary-dark: #1fc8f6;
  --ifm-color-primary-darker: #11c4f5;
  --ifm-color-primary-darkest: #09a4cf;
  --ifm-color-primary-light: #5bd6f8;
  --ifm-color-primary-lighter: #69daf9;
  --ifm-color-primary-lightest: #96e5fb;
}

/* Apply Oswald to all headings */
h1,
h2,
h3,
.markdown h1,
.markdown h2,
.markdown h3 {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
}

/* HEADER */
.hero {
  background-color: var(--ifm-background-color);
  color: var(--ifm-font-color-base);
}

.hero--primary {
  padding: 0 clamp(0.5rem, 3rem, 3.5rem);
}

.hero__title {
  font-size: clamp(2rem, 6vw, 4.5rem) !important;
  line-height: 1.2;
  white-space: nowrap;

  @media (max-width: 480px) {
    white-space: normal;
  }
}

.hero__subtitle {
  font-size: clamp(0.7rem, 2.2vw, 1.1rem) !important;
  margin-top: clamp(0.65rem, 1.5vw, 1rem);
  max-width: min(40rem, 90vw);
  line-height: 1.5;
}

.hero--primary .button {
  font-size: clamp(0.6rem, 2vw, 1.2rem) !important;
  margin-top: clamp(1rem, 2vw, 1.5rem);
}

.hero--primary > .button .button--secondary {
  padding-right: clamp(1.5rem, 2.5vw, 2rem);
  padding-left: clamp(1.5rem, 2.5vw, 2rem);
}

/* NAVBAR */
.navbar {
  background: transparent !important;
  background-color: var(--ifm-navbar-background-color) !important;
  backdrop-filter: blur(10px);
}
