.glassCard {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
  border-radius: clamp(0.8rem, 1rem, 1.2rem);
  border: 1.5px solid rgba(255, 255, 255, 0.18);
  box-shadow: var(--ifm-global-shadow-tl);
  transition: all 0.3s ease;
}

.glassCard_content {
  display: flex;
  flex: 1;
  flex-direction: column;
  text-align: center;
  padding: clamp(0.1rem, calc(var(--ifm-spacing-vertical) * 2.5), 2rem);
  gap: var(--ifm-spacing-vertical);
  justify-content: space-between;
}

.glassCard_icon {
  color: var(--ifm-color-white);
  align-self: center;
}

.glassCard_title {
  align-self: center;
  font-weight: var(--ifm-font-weight-regular);
  font-size: clamp(0.8rem, 2.5vh, 1.2rem);
  text-transform: uppercase;
  color: var(--ifm-color-white);
  margin-left: 4px;
}

.glassCard_description {
  text-align: center;
  font-size: clamp(1rem, 100vw, 1rem);
  line-height: 1.8;
  font-weight: var(--ifm-font-weight-light);
  color: var(--ifm-color-white);
  flex: 1;
}

.glassCard_cta {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.glassCard_ctaPrimary {
  border: 1px solid white;
  color: var(--ifm-color-white);
  font-weight: var(--ifm-font-weight-light);
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: all 0.2s ease-in;
}

.glassCard_ctaPrimary:hover {
  background: rgba(255, 255, 255, 0.3);
  border-color: rgba(255, 255, 255, 0.5);
  transform: translateY(-2px);
}

.glassCard_ctaSecondary {
  color: white;
  font-weight: var(--ifm-font-weight-light);
  transition: all 0.2s ease-in;
  align-self: center;
  border-radius: 0;
}

.glassCard_ctaSecondary:hover {
  color: white;
  transform: translateY(-2px);
  text-decoration: none;
  border-bottom: 1px solid white;
}

.glassCard_ctaIcon {
  color: white;
  font-weight: var(--ifm-font-weight-light);
  transform: translateY(2px);
  margin-left: 3px;
}
