.articlesWrapper {
  width: 100%;
  margin: 4rem 0;
}

.articleCard {
  height: 100%;
  min-height: 27rem;
  border: 1px solid var(--ifm-color-emphasis-200);
  border-radius: var(--ifm-card-border-radius);
  overflow: hidden;
  transition: all 0.2s ease;
  cursor: pointer;
  background-color: var(--ifm-background-color-95);
  display: flex;
  flex-direction: column;
  box-shadow: var(--ifm-global-shadow-lw);
}

.articleCard:hover {
  border: 1px solid var(--ifm-color-primary);
  box-shadow: 0 2px 20px rgba(var(--ifm-color-primary), 0.3),
    0 2px 40px rgba(var(--ifm-color-primary), 0.1);
}

.articleCard:focus {
  outline: 2px solid var(--ifm-color-primary);
  outline-offset: 2px;
}

.articleTop {
  display: flex;
  flex-direction: column;
}

.articleImage {
  width: 100%;
  height: 12rem;
  overflow: hidden;
  flex-shrink: 0;
  background-color: var(--ifm-color-emphasis-100);
}

.articleImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.3s ease;
  z-index: -1;
}

.articleTitle {
  padding: 1.5rem 1.5rem 0 1.5rem;
  margin: 0;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.3;
  color: var(--ifm-color-content);
}

.articleBody {
  padding: 1.5rem;
  padding-top: 0.75rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.articleDescription {
  margin: 0;
  color: var(--ifm-color-content-secondary);
  font-size: 0.9rem;
  line-height: 1.5;
  margin: auto 0;
  flex: 1;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.articleDate {
  font-size: 0.8rem;
  color: var(--ifm-color-content-secondary);
  opacity: 0.8;
  font-weight: 500;
}

@media (max-width: 767px) {
  .articlesWrapper {
    margin: 2rem 0;
  }
  .articleCard {
    min-height: 460px;
  }

  .articleImage {
    height: 180px;
  }

  .articleBody {
    padding: 1.25rem;
  }

  .articleTitle {
    font-size: 1.2rem;
    padding: 1rem 1rem 0 1.2rem;
  }

  .articleDescription {
    font-size: 0.9rem;
  }
}

@media (min-width: 768px) and (max-width: 997px) {
  .articleCard {
    min-height: 380px;
  }
  .articlesWrapper {
    margin: 3rem 0;
    padding: 0 1rem;
  }
}
